.search-results-container {
    padding: 10px;
    .result {
        display: inline-block;
        width: 200px;
        padding: 10px 25px;
        .mission-img {
            text-align: center;
            height: 200px;
            background-image: url('../../../assets/image-loader.jpg');

            img {
                width: 150px;
                background-color: #ffffff;
            }
        }
        .mission-name-flight-text {
            font-size: 13px;
            color: #3e1988;
            font-weight: bold;
            padding: 5px 0px;
        }
        .mission-ids {
            font-size: 13px;
            padding-top: 5px;
            .ids-label {
                font-weight: bold;
            }
            ul {
                padding: 1px 25px;
                margin: 2px;
                li {
                    color: #1c8ab7;
                }
            }
        }
        .launch-details-text {
            font-size: 13px;
            font-weight: bold;
            padding: 5px 0px;
            .text {
                padding-right: 2px;
            }
            .text-val {
                color: #1c8ab7;
                font-weight: normal;
            }
        }
    }
}
