.search-results-container {
    padding: 10px;
    max-width: 1140px;
    margin: 0 auto;

    .result {
        float: left;
        width: 200px;
        padding: 10px 25px;
        box-shadow: 0px 0px 4px 0px #3f2eaf94;
        border-radius: 10px;
        margin: 5px 5px;
        height: 345px;

        .mission-img {
            text-align: center;
            height: 190px;
            margin-bottom: 10px;
            background-image: url("../../../assets/image-loader.jpg");

            img {
                width: 190px;
                background-color: #ffffff;
            }
        }

        .mission-name-flight-text {
            font-size: 13px;
            color: #3e1988;
            font-weight: bold;
            padding: 5px 0px;
            text-align: left;
        }

        .mission-ids {
            font-size: 13px;
            padding-top: 5px;
            text-align: left;

            .ids-label {
                font-weight: bold;
            }
            ul {
                padding: 1px 25px;
                margin: 2px;
                li {
                    color: #1c8ab7;
                }
            }
        }

        .launch-details-text {
            font-size: 13px;
            font-weight: bold;
            padding: 5px 0px;
            text-align: left;

            .text {
                padding-right: 2px;
            }

            .text-val {
                color: #1c8ab7;
                font-weight: normal;
            }
        }
    }
}
