body {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

@media screen and (max-width: 700px) {
    .head-text {
        text-align: center;
        font-size: 24px;
    }

    .filters-section {
        width: 100% !important;

        .filters-container {
            margin: 0 auto;
            padding: 5px 15% !important;

            .filters-head-text {
                text-align: center;
                font-size: 18px !important;
            }

            .filter-type-text div {
                width: 50% !important;
            }
        }
    }

    .results-section {
        width: 100% !important;

        .result {
            padding: 10px 15px 15px 15px !important;
            margin: 10px auto !important;
            display: block !important;
            float: none !important;
            min-height: 350px !important;
            height: auto !important;

            .mission-img {
                height: 200px !important;
                
                img {
                    width: 200px !important;
                }
            }

            .mission-name-flight-text {
                font-size: 16px !important;
            }

            .mission-ids {
                font-size: 15px !important;
            }

            .launch-details-text {
                font-size: 16px !important;
            }
        }
    }
}

@media screen and (min-width: 701px) and (max-width: 1024px) {
    .filters-section {
        width: 25% !important;
    }

    .results-section {
        width: 75% !important;

        .search-results-container {
            margin: 0 auto;
            width: 500px;

            .result {
                width: 190px !important;
            }
        }
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {

    .results-section {
        .search-results-container {
            width: 1140px;
            
            .mission-img {
                height: 190px !important;
                margin-bottom: 10px;

                img {
                    width: 190px !important;
                }
            }
        }
    }
}
